@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

}

body.splash{

    font-family:'Poppins',sans-serif;

    background:linear-gradient(180deg,#011C40,#26658C,#54ACBF);

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    position:relative;

}

.splash-content{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

}

.ring-icon{

    font-size:64px;

    margin-bottom:20px;

}

.splash-content h1{

    font-size:48px;

    font-weight:700;

    color:#ffffff;

    margin-bottom:12px;

}

.subtitle{

    font-size:18px;

    font-weight:400;

    color:#EAF6FF;

    max-width:280px;

    line-height:28px;

}

.creator{

    position:fixed;

    bottom:25px;

    left:0;

    width:100%;

    text-align:center;

    color:rgba(255,255,255,.8);

    font-size:14px;

    letter-spacing:3px;

}